header{
    display:block;
    height:100px;
    background: black;
    text-align: center;
    text-transform:uppercase;
    color:white;
}
h1{
    margin:0;
}
.button-3 {
    margin-top: 50px;
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.main {
    margin: 100px auto;
    padding:20px 100px;
    width:1100px;
    background-color: beige;
    border-radius: 20px;
}
.question{
    margin-top:40px;
    background: #94d3a2;
    border-radius: 10px;
    padding: 20px;
}
.question label {
    border-radius: 5px;
    padding: 10px;
    border: red solid 1px;
    margin: 0 20px;
}
.question label:hover {
    background: gainsboro;
}
p{
    font-weight: bold;
}
